/* google fonts */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@300;500&family=Noto+Sans+JP:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap");
/* global css */
.display {
  font-family: "Asap", sans-serif;
}

.display-body {
  font-family: "Noto Sans JP", sans-serif;
  color: #fff;
}
h3 {
  color: #141958;
}
.navbar-brand {
  font-family: Garamond, Helvetica, sans-serif;
  font-style: italic;
}
/* css for weather ejs starts here */
.results {
  margin-top: 3rem;
}
.weather {
  background-image: url("https://res.cloudinary.com/jerry299/image/upload/v1598588849/banner_nzhtaq.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  padding: 3em 0;
  margin: 0 auto;
}
/* css for weather ejs ends here */
/* css for error page sorry */
.sorry {
  color: #e64c59;
  margin: 12rem 5px 0 5px;
}
/* css for error page sorry */
#mapid {
  height: 180px;
}

/* add media queries */
@media screen and (min-device-width: 1200px) and (max-device-width: 1800px) {
  .app-body {
    background: linear-gradient(-70deg, #fa7c30 45%, rgba(0, 0, 0, 0.5) 30%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }

  .app-body2 {
    background: linear-gradient(-70deg, #43ec43 45%, rgba(0, 0, 0, 0.3) 30%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
  }
  #home,
  #home-form {
    height: 92vh;
    margin-top: 1rem;
  }
  h1 {
    color: rgb(241, 233, 233);
  }
  #weather-input {
    margin-top: 1rem;
  }
  .display-message {
    margin-top: 5rem;
  }
  .display {
    margin-bottom: 4rem;
  }
  #form-header {
    padding-top: 6rem;
  }
  .display-body {
    letter-spacing: 0.1rem;
    color: rgb(206, 216, 226);
    line-height: 2rem;
  }
  /* css for weather ejs starts here */

  h1 {
    color: rgb(236, 229, 229);
  }
  .cardboard {
    margin-top: 5rem;
  }
  .home a {
    text-decoration: none;
    color: rgb(243, 203, 203);
    float: right;
  }
  .date h5 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    color: #fff;
    text-align: right;
    margin-top: 2rem;
    letter-spacing: 0.2rem;
  }
  .results {
    margin: 2rem;
    padding-left: 4rem;
    width: 80%;
  }
  .weather {
    height: 100vh;
  }
  .c-header {
    height: 250px;
    background-color: rgba(17, 15, 15, 0.3);
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .city-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem;
  }
  .city-time {
    margin: 1.5rem 2rem 0 0;
    padding: 2rem;
  }

  .city-name,
  .country {
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
  }
  .city-weather-description {
    font-size: 14px;
    color: #999;
    margin: 0.5em 0 0;
    text-transform: capitalize;
  }
  .city2 h3 {
    font-size: 1em;
    color: #fff;
    font-weight: bold;
    margin: 3em 0 0.5em;
  }
  .city-temperature {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
  }

  .cloud-logo {
    width: 6rem;
    height: 7rem;
    margin-left: 2rem;
  }
  .grid-left {
    width: 40%;
    background: rgba(95, 252, 204, 0.69);
    min-height: 322px;
    padding: 2.8em 1.5em;
  }
  .grid-right {
    width: 60%;
    background: rgba(255, 8, 8, 0.6);
    padding: 2.8rem 1.5rem;
  }
  .grid-left-item h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #212121;
    letter-spacing: 1px;
  }
  .grid-left-item p span img {
    height: 40px;
    width: 30px;
  }
  .grid-left-item p {
    font-size: 2em;
    color: #1b4e3f;
    font-weight: 600;
    font-family: "Shadows Into Light", cursive;
  }
  .grid-right-item h3 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
  }
  .grid-right-item p {
    color: rgb(172, 137, 137);
    font-weight: 500;
  }
  .cardboard-body {
    display: flex;
  }
  /* css for weather ejs ends here */
}

/* phones */
@media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
  .app-body {
    background: linear-gradient(-30deg, #fa7c30 60%, rgba(0, 0, 0, 0.5) 70%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    width: 70vw;
  }
  .app-body2 {
    background: linear-gradient(-20deg, #43ec43 10%, rgba(0, 0, 0, 0.5) 80%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
  }
  #home-form {
    margin-top: 11rem;
  }
  #home-form h3 {
    text-align: center;
  }
  .display-message {
    margin-top: 5rem;
  }
  .display {
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
  }
  .display-body {
    letter-spacing: 0.1rem;
    color: rgb(206, 216, 226);
  }
  /* css for weather ejs starts here */
  /* css for weather ejs ends here */
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) {
  .app-body {
    background: linear-gradient(-20deg, #fa7c30 10%, rgba(0, 0, 0, 0.5) 80%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
  }
  .app-body2 {
    background: linear-gradient(-20deg, #43ec43 10%, rgba(0, 0, 0, 0.5) 80%),
      url("https://res.cloudinary.com/jerry299/image/upload/c_fit,r_4,w_1092/v1597899566/weatherpic1_gpy9o5.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
  }
  #home-form {
    margin-top: 3rem;
  }
  #home-form h3 {
    text-align: center;
  }
  .display-message {
    margin-top: 5rem;
  }
  .weather {
    width: 100vw;
    overflow-x: hidden;
  }
  .display {
    margin-bottom: 3rem;
    color: rgb(255, 255, 255);
  }
  .display-body {
    letter-spacing: 0.1rem;
    color: rgb(206, 216, 226);
  }
  /* css for weather ejs starts here */
  .home {
    margin-bottom: 2rem;
  }
  .city {
    font-size: 1.7rem;
    color: #93b5e1;
  }
  .city-name {
    margin-left: 2.3rem;
    color: #ff847c;
    font-size: 1.2rem;
  }

  h1 {
    color: rgb(236, 229, 229);
  }
  .home a {
    text-decoration: none;
    color: rgb(243, 203, 203);
    float: right;
    margin-right: 1.7rem;
  }
  .results h1 {
    padding: 0 1.2rem;
  }
  .cardboard {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
  }
  .c-header {
    background-color: rgba(17, 15, 15, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .city-name,
  .country {
    font-size: 2.3rem;
    color: #fff;
  }
  .city-weather-description {
    font-size: 14px;
    color: rgb(223, 205, 205);
    margin: 0.5em 0;
    text-transform: capitalize;
  }
  .city2 h3 {
    font-size: 1.3rem;
    color: #fff;
    font-weight: bold;
    margin: 1.5rem 0;
  }
  .city-temperature {
    font-size: 3rem;
    color: #fff;
    font-weight: bold;
  }
  .city-time img {
    visibility: hidden;
  }
  .city-time .date h5 {
    font-family: "Roboto", sans-serif;
    font-size: 1.1em;
    color: #fff;

    letter-spacing: 0.2rem;
    margin-top: -30rem;
    margin-left: 10rem;
    margin-bottom: 20px;
  }
  .cardboard-body {
    position: relative;
  }
  .grid-left-item p img {
    visibility: hidden;
  }
  .grid-left {
    width: 80%;
    margin-left: 3rem;
    margin-right: 3rem;
    background: rgba(95, 252, 204, 0.69);
    padding: 1.2rem 1.3rem;
  }
  .grid-left-item {
    display: flex;
    flex-direction: column;
  }
  .grid-left-item:nth-child(1) {
    height: 5rem;
  }
  .grid-left-item h3 {
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 600;
    color: #212121;
    letter-spacing: 1px;
  }
  .grid-right {
    width: 80%;
    margin-left: 3rem;
    margin-right: 3rem;
    background: rgba(255, 8, 8, 0.6);
    padding: 1.2rem 1.3rem;
  }
  .grid-right-item h3 {
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    color: #fff;
    font-weight: 600;
    font-family: "Josefin Sans", sans-serif;
  }
  .grid-right-item p {
    color: rgb(211, 183, 183);
    font-weight: 500;
  }
  .grid-right-item {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .grid-right-item:nth-child(3) h3 {
    width: 30%;
  }
  /* css for weather ejs ends here */
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
